<div id="all-wrap">
    <div id="main-contents">
        <div id="header"></div>
        <div id="enchant-stage"></div>
        <div>
            <p><%= @showfile.title %></p>
            <p id="doc">
            <%= @showfile.doc %>
            </p>
            <div id="timer"></div>
            <div id="test"></div>
        </div>
    </div><!--end #main-contents-->

    <div id="footer">
        <div id="buttons">
            <a href="./<%= @nextfile.id %>">NEXT</a>／
            <a href="./<%= @showfile.id %>">RESET</a>／
            <a href="./<%= @prevfile.id %>">PREV</a>
        </div>
        <div id="information">
            powered by <a href="http://www.sozai.fuku-e.com">福井観光写真素材集</a>
       </div>
    </div><!--end #footer-->

</div><!--end #all-wrap-->
