<div id="wrap">
	<div id="header"></div>
	<div id="enchant-stage"></div>

	<div id="b-reset" class="button-text" data-id=<%= @showfile.id %>>
		<a href="./<%= @showfile.id %>">RESET</a>
	</div>
	<div id="b-next" class="button-text" data-id=<%= @nextfile.id %>>
		<a href="./<%= @nextfile.id %>">NEXT</a>
	</div>
	<div id="b-prev" class="button-text" data-id=<%= @prevfile.id %>>
		<a href="./<%= @prevfile.id %>">PREV</a>
	</div>

	<div id="footer"></div>
</div>
